.messages {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-top: 80px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    align-items: flex-end;
    height:  660px;
    overflow: scroll;
}