.newsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #EDEEF0;

    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-sizing: border-box;

    padding: 0 20px 20px 20px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.newsTitle {
    width: 100%;
}

.newsTitle h3 {
    font-weight: 400;
}

.newsTitle h3:after {
    height: 2px;
    width: 100%;
    display: block;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    content: '';
    border-radius: 10px;
}

.content {
    display: flex;
    align-items: center;

}

.content img {
    width: 130px;
    height: 100px;
    margin-right: 20px;
}

.description {
    display: inline-flex;
}

.description h5 {
    font-weight: 400;
}

.date {
    display: flex;
    align-self: flex-end;
    padding-right: 10px;
    color: #9D9C9B;
    font-size: 12px;
}