body {
  /*background-color: #edeef0;*/
  background: #edeef0;
  margin: 0;
  min-width: 1800px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

